body, html {
	font-family: 'Lato', sans-serif;
}

.btn {
	border-radius: 0;
}

.container-fluid {
	padding: 0;
}

.header,
.marketing,
.footer {
	margin-right: 0;
	margin-left: 0;
	padding: 15px 25px;
}

.header a,
.header a:active {
	color: #CCCCCC;
	margin-top: 13px;
}

.header a {
	text-transform: uppercase;
}

.header a:hover,
.header a:focus,
.nav > li > a:hover, .nav > li > a:focus {
	color: #FFFFFF;
	background-color: transparent;
}

.header a:hover,
.header a:focus {
	transition: color .5s linear;
}




.footer {
	text-align: center;
}