<div class="row"> 
	<div class="col-sm-6 col-sm-offset-3">
		<form role="form" style="padding-bottom: 25px;">
		 	<div class="form-group">
		 		<label>Email</label>
				<input class="form-control" type="text" ng-model="client.email" placeholder="Email" />
			</div>
			<div class="form-group">
				<label>Name</label>
				<input class="form-control" type="text" ng-model="client.name" placeholder="Name" />
			</div>
			<div class="form-group">
				<label>Company Name</label>
				<input class="form-control" type="text" ng-model="client.company_name" placeholder="Company" />
			</div>
			<div class="form-group">
				<label>Phone Number</label>
				<input class="form-control" type="text" ng-model="client.phone_number" placeholder="Phone Number" />
			</div>
			<div class="form-group">
				<label>Color</label>
				<input class="form-control" type="text" ng-model="client.color" placeholder="Phone Number" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary pull-right" ng-click="addClient()">Add Client</button>
			</div>
		</form>
	</div>
</div>

<div class="row"> 
	<div class="col-sm-6 col-sm-offset-3">
		<table class="table">
			<thead>
				<tr>
					<th>Email</th>
					<th>Name</th>
					<th>Company</th>
					<th>Phone Number</th>
					<th>Color</th>
				</tr>
			</thead>
			<tbody ng-repeat="cl in clients">
				<tr>
					<td>{{cl.email}}</td>
					<td>{{cl.name}}</td>
					<td>{{cl.company_name}}</td>
					<td>{{cl.phone_number}}</td>
					<td>{{cl.color}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>