<div role="tabpanel" class="row admin-tabs">

  <!-- Nav tabs -->
  <div class="col-sm-3 tab-btn-section">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li role="presentation" class="active">
        <a data-target="#clients" aria-controls="clients" role="tab" data-toggle="tab">Clients</a>
      </li>
      <li role="presentation">
        <a data-target="#campaigns" aria-controls="campaign" role="tab" data-toggle="tab">Campaigns</a>
      </li>
      <li role="presentation">
        <a data-target="#surfaces" aria-controls="surfaces" role="tab" data-toggle="tab">Surfaces</a>
      </li>
      <li role="presentation">
        <a data-target="#campaign-types" aria-controls="campaign-types" role="tab" data-toggle="tab">Campaign Types</a>
      </li>
      <li role="presentation">
        <a data-target="#surface" aria-controls="surface" role="tab" data-toggle="tab">Add Surface</a>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="col-sm-9 tab-panel-section">
    <div class="tab-panel-container">

      <div class="row admin-search-add-row">
        <div class="col-sm-8">
          <div class="form-group">
            <label>Search</label>
            <input class="form-control" type="text" placeholder="search" />
          </div>
        </div>
        <div class="col-sm-4 text-right">
           <button class="btn btn-primary">Add Campaign type</button>
        </div>
      </div>
      
      <div class="tab-content">
        <!-- Clients -->
        <div role="tabpanel" class="tab-pane active" id="clients">
            <div class="admin-cards" style="padding: 15px;">
              <div class="row">
                <form role="form" class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="client.name" placeholder="Name" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Company Name</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="client.company_name" placeholder="company name" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="client.email" placeholder="Email" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Phone Number</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="client.phone_number" placeholder="Phone Number" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="client.address" placeholder="Address" />
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-9">
                      <button class="btn btn-primary pull-right" ng-click="addClient()">Add Client</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

              <div ng-repeat="client in clients" class="admin-cards">
                <div class="row card-header">
                  <div class="col-sm-8">
                    <span>{{client.name}}</span>
                  </div>
                  <div class="col-sm-4 text-right">
                    <button class="btn btn-default">Edit</button>
                    <button class="btn btn-default" ng-click="deleteClient(client)">Delete</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 card-body-left">
                    <span>Email</span><br />
                    <span>{{client.email}}</span><br /><br />
                    <span>Phone</span><br />
                    <span>{{client.phone_number}}</span><br /><br />
                    <span>Address</span><br />
                    <span>{{client.address}}</span>
                  </div>
                  <div class="col-sm-8 card-body-right">
                    stuff goes here
                  </div>
                </div>
              </div>
        </div>

        <!-- Campaigns -->
        <div role="tabpanel" class="tab-pane" id="campaigns">
          <div class="admin-cards" style="padding: 15px;">
            <div class="row"> 
              <div class="col-sm-12">
                <form role="form" class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="campaign.name" placeholder="Name" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-9">
                      <input class="form-control datepicker" type="text" ng-model="campaign.start_date" placeholder="Start Date" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">End Date</label>
                    <div class="col-sm-9">
                      <input class="form-control datepicker" type="text" ng-model="campaign.end_date" placeholder="End Date" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="campaign.price" placeholder="Price" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Client</label>
                    <div class="col-sm-9">
                      <select class="form-control" ng-model="campaign.client_id" ng-options="_client.name for _client in clients"></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Campaign Type</label>
                    <div class="col-sm-9">
                      <select class="form-control" ng-model="campaign.campaign_type" ng-options="_campaignType.name for _campaignType in campaignTypes"></select>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Surface</label>
                    <div class="col-sm-9">
                      <select class="form-control" ng-model="selectedSurface" ng-options="_surface.name for _surface in surfaces"></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Face</label>
                    <div class="col-sm-9">
                      <select class="form-control" ng-model="selectedFace" ng-options="_face.name for _face in selectedSurface.faces"></select>
                    </div>
                  </div>

                  <table class="table" style="padding: 35px;">
                    <thead>
                      <tr>
                        <th>Task</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="_task in campaign.campaign_type.tasks">
                      <tr>
                        <td>{{_task.description}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <button class="btn btn-primary btn-block" ng-click="addCampaign()">Add Campaign</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Surfaces -->
        <div role="tabpanel" class="tab-pane" id="surfaces">
           <div class="row"> 
            <div class="col-sm-12">

              <div class="admin-cards" ng-repeat="_surface in surfaces">
                <div class="row card-header">
                  <div class="col-sm-8">
                    <span>{{_surface.name}}</span>
                  </div>
                  <div class="col-sm-4 text-right">
                    <button class="btn btn-primary" ng-click="deleteSurface(_surface)">Delete</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 card-body">
                    <span>{{_surface.name}}</span><br />
                    <span>{{_surface.price}}</span><br />
                    <span>{{_surface.latitude}}</span><br />
                    <span>{{_surface.longitude}}</span><br />
                    <span>{{_surface.traffic}}</span><br />
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Faces</th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="face in _surface.faces">
                        <tr>
                          <td>{{face.name}}</td>
                          <td style="text-align: right;">
                            <span ng-click="deleteFace(face)" alt="Remove Face" title="Remove Face">
                              <span class="glyphicon glyphicon-remove"></span>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        <!-- Tasks -->
        <div role="tabpanel" class="tab-pane" id="campaign-types">
          <div class="row"> 
            <div class="col-sm-12">

              <div class="admin-cards">
                <div class="row card-header">
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Campaign Type Name" ng-model="campaignType.name" />
                  </div>
                  <div class="col-sm-4 text-right">
                    <button class="btn btn-success" ng-click="addCampaignType()">Save</button>
                    <button class="btn btn-default">Delete</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Task</th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="task in campaignType.tasks">
                        <tr>
                          <td>
                            <input type="text" class="form-control" placeholder="Your Task Needs a Description" ng-model="task.description" />
                          </td>
                          <td style="text-align: right;">
                            <span ng-click="deleteTask(task)" alt="Remove Task" title="Remove Task">
                              <span class="glyphicon glyphicon-remove"></span>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                      <tfooter>
                        <tr>
                          <td>
                            <button class="btn btn-primary" ng-click="addTask()">Add Task</button>
                          </td>
                        </tr>
                      </tfooter>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row"> 
            <div class="col-sm-12">

              <div class="admin-cards" ng-repeat="campaignType in campaignTypes">
                <div class="row card-header">
                  <div class="col-sm-8">
                    <span>{{campaignType.name}}</span>
                  </div>
                  <div class="col-sm-4 text-right">
                    <button class="btn btn-default" ng-click="deleteCampaignType(campaignType)">Delete</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Task</th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="task in campaignType.tasks">
                        <tr>
                          <td>{{task.description}}</td>
                          <td style="text-align: center;">
                            <span ng-click="deleteTask(task)" alt="Remove Task" title="Remove Task">
                              <span class="glyphicon glyphicon-remove"></span>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        <!-- Surface -->
        <div role="tabpanel" class="tab-pane" id="surface">
          <div class="admin-cards">
            <div class="row" style="padding: 15px;"> 
              <div class="col-sm-12">
                <form role="form" class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="surface.name" placeholder="Name" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Latitude</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="surface.latitude" placeholder="latitude" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Longitude</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="surface.longitude" placeholder="longitude" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Popularity</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="surface.popularity" placeholder="popularity" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="surface.price" placeholder="price" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Traffic</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="surface.traffic" placeholder="traffic" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" ng-model="surface.type" placeholder="type" />
                    </div>
                  </div>

                 <table class="table">
                      <thead>
                        <tr>
                          <th>Faces</th>
                        </tr>
                         <tr>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="surfaceFace in surface.faces">
                        <tr>
                          <td>
                            {{surfaceFace.name}}
                          </td>
                          <td style="text-align: center;">
                            <span ng-click="deleteFace(surfaceFace)" alt="Remove Face" title="Remove Face">
                              <span class="glyphicon glyphicon-remove"></span>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                      <tfooter>
                        <tr>
                          <td><input class="form-control" type="text" ng-model="faceName" placeholder="Face Name" /></td>
                        </tr>
                        <tr>
                          <td><button class="btn btn-primary" ng-click="addFace()">Add Faces</button></td>
                        </tr>
                      </tfooter>
                    </table>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <button class="btn btn-primary btn-block" ng-click="addSurface()">Add Surface</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<script type="javascript/text">
  
</script>